table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.score-passed {
    color: green;
}

.score-failed {
    color: red;
}

body {
    background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
          rgba(255, 255, 255, 0.629), 
          rgba(255, 255, 255, 0.677)
        ),
        
        /* bottom, image */
        url('https://lain.bgm.tv/pic/crt/l/b0/55/104650_crt_r9mPk.jpg');

    background-repeat: repeat; 
    background-size: contain; 
    background-attachment: scroll;
}

